.social-queue-meta-box {
    overflow: hidden;
}

.social-queue-post {
    float: left;
    padding-right: 5%;
    width: 65%;
}

.social-queue-networks ul li {
    float: left;
    padding-right: 10px;
}

.social-queue-schedule {
    float: right;
    width: 30%;
}

.social-queue-description textarea {
    border: none;
    box-shadow: none;
    height: 100px;
    margin: 0;
    width: 100%;
    overflow: auto;
    outline: none;
    padding: 10px 0;
    resize: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.social-queue-description textarea:focus {
    outline: 0;
}