/*
 * Main styles
 */

#queuewp-meta-box {
    overflow: hidden;
}

/*
 * Content areas (left and right side blocks)
 */

.queuewp-details {
    overflow: hidden;
}

.queuewp-post {
    float: left;
    padding-right: 5%;
    width: 60%;
}

.queuewp-schedule {
    float: right;
    width: 35%;
}

/*
 * Social network post section
 */

.queuewp-selector {
    overflow: hidden;
}

.queuewp-accounts {
    float: left;
}

.queuewp-count {
    float: right;
}

.queuewp-count p {
    color: #ccc;
    font-style: italic;
}

.queuewp-message textarea {
    border: none;
    box-shadow: none;
    height: 100px;
    margin: 0;
    width: 100%;
    overflow: auto;
    outline: none;
    padding: 10px 0;
    resize: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.queuewp-message textarea:focus {
    outline: 0;
}

.queuewp-accounts ul li,
.queuewp-actions ul li {
    float: left;
    padding-right: 10px;
}

.queuewp-actions ul {
    overflow: hidden;
}

.queuewp-custom-content label {
    display: block;
    font-weight: bold;
    line-height: 2;
    width: 100%;
}

/*
 * Schedule form elements
 */

.queuewp-schedule-automatic,
.queuewp-schedule-manual {
    padding: 10px 0;
}

.queuewp-schedule-manual a {
    text-decoration: none;
}

.queuewp-schedule-item {
    margin-bottom: 10px;
}

/**
 * Preview
 */

.queuewp-preview-box {
    background: #f6f6f6;
    border: 1px solid #ddd;
    overflow: hidden;
    padding: 10px;
}

.queuewp-preview-image {
    float: left;
    width: 30%;
}

.queuewp-preview-content {
    float: right;
    width: 65%;
}

.queuewp-preview-image img {
    background: #fff;
    height: 100px;
    width: 100%;
}

.queuewp-preview-content h3,
.queuewp-preview-content p {
    margin: 5px 0;
}

.queuewp-preview-content p.queuewp-url {
    color: #999;
    font-style: italic;
}

/**
 * Set default states
 */

.queuewp-custom-content,
.queuewp-schedule-automatic,
.queuewp-schedule-manual {
    display: none;
}
